body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.slider-container {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slide-list {
  display: flex;
  transition: 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 15px;
  border-radius: 50px;
  background-color: black;
  border: none;
  cursor: pointer;
}
.prev svg,
.next svg {
  height: 20px;
  width: 20px;
}
.prev svg path,
.next svg path {
  fill: white;
}
.prev .prev,
.next .prev {
  left: 0;
}
.prev .next,
.next .next {
  right: 0;
}/*# sourceMappingURL=styles.css.map */