body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.slider-container {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.slide-list {
    display: flex;
    transition: .5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px;
    border-radius: 50px;
    background-color: black;
    border: none;
    cursor: pointer;

    svg {
        height: 20px;
        width: 20px;

        path {
            fill: white;
        }
    }

    .prev {
        left: 0;
    }

    .next {
        right: 0;
    }
}