body {
  width: 100vw;
  height: 100vh;
}
body .main {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}
body .main .form-wrapper,
body .main .result-wrapper {
  flex-grow: 1;
  padding: 20px;
}
body .main .form-wrapper form .input-group {
  margin-bottom: 15px;
}
body .main .form-wrapper form .input-group label {
  display: block;
  padding: 10px;
  font-size: 16px;
}
body .main .form-wrapper form .input-group input, body .main .form-wrapper form .input-group textarea {
  padding: 18px 10px;
  width: 100%;
}
body .main .result-wrapper .form-group {
  margin-bottom: 15px;
}
body .main .result-wrapper .form-group input {
  padding: 18px 10px;
}
body .main .result-wrapper .form-group label {
  display: block;
  padding: 10px;
  font-size: 16px;
}/*# sourceMappingURL=styles.css.map */