body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
   
    form {
      width: 500px;
      height: auto;
      border: 1px solid black;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .dog-result {
        // background-color: red;
        height: auto;
        width: 500px;


        img {
            width: 100%;
            object-fit: contain;
        }
    }
  }