body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
body form {
  width: 500px;
  height: auto;
  border: 1px solid black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
body .dog-result {
  height: auto;
  width: 500px;
}
body .dog-result img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=styles.css.map */