html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.faq-accordion-section {
    width: 50%;
    height: fit-content;
    border-radius: 30px;
    box-shadow: 0px 0px 10px #000;
    padding: 30px 20px;
}

.faq-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.question {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.faq-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 5px;
}

.faq-head p {
    color: #93148f;
    font-weight: 600;
    font-size: 20px;
}

.faq-body {
    max-height: 0;
    transition: 0.5s ease-in-out;
}

.active {
    max-height: 600px;
}

.headline {
    display: flex;
    font-size: 16px;
    gap: 30px;
}

.headline img {
    height: 20px;
    display: inline;
    margin-top: 20px;
}

.faq-head img {
    height: 15px;
    margin-left: 5px;
    cursor: pointer;
}

h1, p {
    display: inline;
}

h1 {
    color: #93148f;
}