body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center;
}
body .slider-container {
  width: 70%;
  height: 80%;
  overflow: hidden;
  position: relative;
}
body .slider-container .slider-list {
  display: flex;
  transition: 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}
body .slider-container .slider-list .slide {
  width: 100%;
  height: 100%;
}
body .slider-container .slider-list .slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .slider-container .previous,
body .slider-container .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  background-color: black;
  padding: 15px;
  cursor: pointer;
}
body .slider-container .previous svg path,
body .slider-container .next svg path {
  fill: white;
}
body .slider-container .previous {
  left: 0;
}
body .slider-container .next {
  right: 0;
}/*# sourceMappingURL=styles.css.map */