body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;

    .slider-container {
        width: 70%;
        height: 80%;
        overflow: hidden;
        position: relative;

        .slider-list {
            display: flex;
            transition: .5s ease-in-out;
            width: 100%;
            height: 100%;

            .slide {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }


        .previous,
        .next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border: none;
            border-radius: 50%;
            background-color: black;
            padding: 15px;
            cursor: pointer;

            svg {
                path {
                    fill: white;
                }
            }
        }

        .previous {
            left: 0;
        }

        .next {
            right: 0;
        }
    }
}