/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* _____________________________ */


/* Alternative box model */
html {
    font-size: 18px;
    box-sizing: border-box;
    position: relative;
    min-height: 100%;
}

* {
    box-sizing: inherit;
}


/* _____________________________ */


/* Main details */
body {
    height: 100vh;
    /* width: 100vw; */
    padding: 0;
    /* background-color: indianred; */
    background-image: url(../img/cloudy-weather.jpg);
    background-size: cover;
    font-family: "Roboto", sans-serif;
}

main {
    margin: 0;
    height: 100%;
    width: 100%;
    /* background-color: violet; */
}


/* _____________________________ */


/* Main container */
.main-card {
    margin: 1.5rem auto;
    width: 25rem;
    height: 30rem;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.2);
    overflow: hidden;
    padding: 1.5rem 2rem;
    border-radius: 1.8rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.1);
}


/* _____________________________ */


/* Search container */
.search-div {
    width: 98%;
    height: 2.2rem;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 100px;
    border: 2px solid white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    overflow: hidden;
    box-shadow: 2px 2px 6.5px rgba(0, 0, 0, 0.2);
}

.search-btn {
    background-color: #5F8FB2;
    color: white;
    cursor: pointer;
    border-radius: 1.8rem;
    font-size: 1rem;
    width: 25%;
    text-align: center;
    padding-top: 0.4rem;
    height: 100%;
    /* border-left: 3px solid white; */
}

.search-btn:hover {
    background-color: #457191;
    color: lightgrey;
}

.search-input {
    font-size: 0.9rem;
    width: 60%;
    height: 100%;
    border: none;
    padding: 0rem 1.5rem;
    background-color: transparent;
    color: white;
    font-family: "Roboto", sans-serif;
}


/* _____________________________ */


/* Temp container */
.temp-div {
    width: 100%;
    /* height: 26.6875rem; */
    /* margin-top: 1.8rem; */
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.temp-div h1 {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    font-weight: 400;
}

.temp-div h1:first-of-type {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
}

#weather-icon {
    height: 10rem;
    width: 10rem;
    margin: 0.5rem auto;
}


/* _____________________________ */


/* Weather details containers */
.weather-details-div {
    width: 100%;
    margin: 0 auto;
    /* background-color: blue; */
    /* height: 4.75rem; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: space-between; */
    align-content: center;
    justify-content: flex-end;
    gap: 1.2rem;
    padding: 0%;
}

.wind-speed-div, .humidity-div {
    width: 45%;
    margin: 0%;
    padding: 0%;
    /* background-color: red; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* flex-direction: row;
    justify-content: center; */
}

#wind-speed-icon,
#humidity-icon {
    height: 1.5rem;
    display: inline;
    margin: 0%;
}

.humidity-div>h4:first-of-type,
.wind-speed-div>h4:first-of-type {
    display: inline;
    font-weight: 300;
}

.humidity-div h4,
.wind-speed-div h4 {
    font-size: 1.2rem;
    margin: 0%;
    display: inline;
    color: white;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}

.humidity-div h4:last-of-type,
.wind-speed-div h4:last-of-type {
    font-weight: 400;
}