.colorized {
  width: 400px;
  height: 400px;
  background-color: red;
}

.new-color {
  background-color: darkcyan;
}

.main-section {
  width: 960px;
  margin: 0 auto;
}

#contact-form {
  margin: 15px 0;
}

#contact-form input {
  display: block;
  margin-bottom: 5px;
  width: 100%;
}

#loading-img {
  display: none;
  width: 150px;
}

.box {
  display: none;
  width: 150px;
  height: 150px;
  border: 1px solid red;
  background-color: orange;
}

section {
  width: 100%;
  padding-block: 50px;
}

#search-btn {
  border: none;
  background-color: hsl(0, 100%, 0%);
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
}

.search-input {
  opacity: 0;
  visibility: 0;
  transition: 0.5s ease-in-out;
  height: 40px;
}

.active-input {
  opacity: 1;
  visibility: visible;
}/*# sourceMappingURL=style.css.map */