/* Body and general styling */
body {
    background-color: #121212;
    color: #fff;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
}

/* Header section */
#playlist-header {
    margin: 0;
    width: 99%;
    height: 40%;
    overflow: hidden;
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    padding: 0;
}

.playlist-container {
    height: 55%;
    width: 100%;
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-evenly;
    justify-content: flex-start;
    gap: 20px;
    overflow: hidden;
    /* background-color: red; */
}

.playlist-text h1,
.playlist-text h5,
.user-info h6 {
    text-shadow: 2px 2px 15px #424242;
}

.playlist-text h1,
.playlist-text h5 {
    margin: 0;
}

.playlist-text {
    height: 70%;
    width: 35%;
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    /* background-color: blue; */
}

.user-info {
    /* background-color: aqua; */
    height: 20px;
    width: 190px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: green; */
}

.user-info h6 {
    margin: 0;
    font-weight: 600;
}

/* Images */
#playlist-cover {
    height: 100px;
    border-radius: 5px;
    box-shadow: 2px 2px 15px #424242;
}

#user-icon {
    height: 15px;
    border-radius: 50%;
    margin: 0;
}


/* Playlist section(s) */
/* .playlist-details {

} */

#main-section {
    width: 99%;
}

#buttons {
    width: 100%;
    height: 60px;
    /* background-color: brown; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin: 20px 0 0 0;
    padding: 0;
}

#first-buttons {
    margin-left: 50px;
}

#play-btn {
    border-radius: 50%;
    border: none;
    height: 55px;
    width: 55px;
    background-color: #1ED760;
    cursor: pointer;
}

#more-btn {
    background-color: transparent;
    border: none;
    height: 55px;
    width: 55px;
    cursor: pointer;
}

#more-btn svg>path {
    fill: gray;
}

#list-btn {
    height: 50px;
    padding: 5px;
    gap: 5px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: gray;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 15px;
}

#list-btn svg {
    height: 18px;
    width: 18px;
}

#list-btn svg>path {
    fill: gray;
}

/* List elements */
#playlist-properties {
    margin-top: 5px;
    height: auto;
    width: 99%;
    /* background-color: #1ED760; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#number-title {
    width: 270px;
}

#time>svg>path {
    fill: gray;
}

#time {
    width: 80px;
}

#playlist-songs {
    /* background-color: blueviolet; */
    height: auto;
    padding: 0 35px;
}

#number-title p {
    display: inline;
    margin-right: 5px;
    margin-left: 15px;
}

#item-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#title-artist {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
    /* background-color: coral; */
    margin: 0 0 0 10px;
    width: 250px;
}

#title-artist h6 {
    margin: 0%;
}

#song-plays {
    /* background-color: aquamarine; */
    width: 100px;
    display: flex;
    justify-content: center;
}

#song-duration {
    /* background-color: lawngreen; */
    width: 100px;
    display: flex;
    justify-content: center;
}